<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <title>Articles</title>
</head>
<body>

  <div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">All Articles</h2>
        </div>
        <p>
          <form action="/articles" method="GET" class = "form-inline">
            <div class="form-group">
              <input type="text" name="search" placeholder="search..." class="form-control">
              <input type="submit"  value="Search" class="btn btn-default">
            </div>
          </form>
        </p>
      </a>
  
      <% items.forEach(function(item) {%>
  
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1"><%= item.title %></h4>
        </div>
        <p class="mb-1"><%= item.content %></p>
      </a>
      
  <% }) %>
      
    </div>
  </div>
  
</body>
</html>



